2.	Data structures: You are required to gather and process data that has been stored in at least two distinct formats. For example, this can be data in a CSV file, from a MySQL database or from a web API in JSON format. [0-20]

In [1]:
import pandas as pd
import requests

#Getting the URL 
url = 'https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/THA25/JSON-stat/1.0/en'

# Making a request
response = requests.get(url)

In [2]:
# Loading JSON data
json_data = response.json()

In [3]:
# Extracting statistic label 'Passenger Journeys'
statistic_label = [json_data['dataset']['dimension']['STATISTIC']['category']['label']['THA25C01']]

In [4]:
# Extracting statistic label 'Week'
week_index = list(json_data['dataset']['dimension']['TLIST(W1)']['category']['index'].values())
week_label = list(json_data['dataset']['dimension']['TLIST(W1)']['category']['label'].values())

In [5]:
# Extracting mode of transport
transmode_index = list(json_data['dataset']['dimension']['C03935V04687']['category']['index'].keys())
transmode_label = list(json_data['dataset']['dimension']['C03935V04687']['category']['label'].values())

In [6]:
# Creating a MultiIndex for the DataFrame
index = pd.MultiIndex.from_product([statistic_label, week_label, transmode_label], names=['Statistic', 'Week', 'Mode_of_Transport'])

# Extracting value information
values = json_data['dataset']['value']

# Creating the DataFrame
df = pd.DataFrame(values, columns=['VALUE'], index=index)

# Resetting index to convert MultiIndex to columns
df.reset_index(inplace=True)

In [7]:
df.head()

,Statistic,Week,Mode_of_Transport,VALUE
0,Passenger Journeys,2019 Week 01,Dublin Metro Bus,1987891.0
1,Passenger Journeys,2019 Week 01,"Bus, excluding Dublin Metro",497598.0
2,Passenger Journeys,2019 Week 01,Rail,NaN
3,Passenger Journeys,2019 Week 01,"All public transport, excluding LUAS",2485489.0
4,Passenger Journeys,2019 Week 02,Dublin Metro Bus,2709579.0

In [8]:
# Save the DataFrame to a CSV file for checking purposes
df.to_csv('THA25.csv',index=False)

In [9]:
import eurostat

In [10]:
eurostat.get_toc_df()

,title,code,type,last update of data,last table structure change,data start,data end
0,Performing health-enhancing physical activity ...,HLTH_EHIS_PE9I$DV_470,dataset,2023-08-01T23:00:00+0200,2022-10-28T11:00:00+0200,None,None
1,Performing health-enhancing physical activity ...,HLTH_EHIS_PE9U,dataset,2023-08-01T23:00:00+0200,2022-10-28T11:00:00+0200,2014,2019
2,Performing health-enhancing physical activity ...,HLTH_EHIS_PE9U$DV_471,dataset,2023-08-01T23:00:00+0200,2022-10-28T11:00:00+0200,None,None
3,Physical and sensory functional limitations by...,HLTH_EHIS_PL1D,dataset,2022-11-17T11:00:00+0100,2022-07-07T23:00:00+0200,2014,2019
4,Physical and sensory functional limitations by...,HLTH_EHIS_PL1E,dataset,2022-11-16T23:00:00+0100,2022-05-13T11:00:00+0200,2014,2019
...,...,...,...,...,...,...,...
7522,Percentage of letters delivered on-time (USP u...,POST_CUBE1_X$POST_QOS_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7523,Postal services,POST_CUBE1_X,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,2012,2021
7524,Number of enterprises providing postal services,POST_CUBE1_X$NUM701,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7525,Access points (USP under direct or indirect d...,POST_CUBE1_X$POST_ACC_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7526,"Domestic postal traffic, letter mail and parce...",POST_CUBE1_X$POST_DTR_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None

In [11]:
toc_df = eurostat.get_toc_df()

In [12]:
eurostat.subset_toc_df(toc_df, 'ports')

,title,code,type,last update of data,last table structure change,data start,data end
20,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_IE,dataset,2023-09-14T23:00:00+0200,2023-09-14T23:00:00+0200,1997-Q1,2023-Q2
23,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_IT,dataset,2023-10-06T23:00:00+0200,2023-10-06T23:00:00+0200,1997-Q1,2022-Q4
25,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_LT,dataset,2023-11-22T23:00:00+0100,2023-11-22T23:00:00+0100,2004-Q1,2023-Q2
27,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_LV,dataset,2023-08-11T23:00:00+0200,2023-08-11T23:00:00+0200,2001-Q1,2023-Q2
29,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_ME,dataset,2023-10-06T23:00:00+0200,2023-10-06T23:00:00+0200,2019-Q1,2023-Q2
...,...,...,...,...,...,...,...
7297,Trade by exports intensity (optional table),EXT_TEC08,dataset,2023-11-15T23:00:00+0100,2023-09-18T11:00:00+0200,2012,2021
7409,Adjusted extra-EU imports since 2000 by tariff...,DS-059281,dataset,2023-11-15T11:00:00+0100,2023-11-15T11:00:00+0100,None,None
7418,"Sold production, exports and imports",DS-056120,dataset,2023-11-07T16:10:00+0100,2023-11-07T16:10:00+0100,None,None
7460,Beneficiaries of labour market policy supports...,LMP_PARTSUMM$TPS00080,dataset,2023-11-20T15:46:44Z,2023-11-20T15:46:44Z,None,None
7487,Public expenditure on labour market policy sup...,LMP_EXPSUMM$TPS00078,dataset,2023-11-20T15:37:29Z,2023-11-20T15:37:29Z,None,None

In [13]:
eurostat.subset_toc_df(toc_df, 'Air passenger transport by main airports in each reporting country')

,title,code,type,last update of data,last table structure change,data start,data end
6321,International extra-EU air passenger transport...,AVIA_PAEXAC,dataset,2023-11-08T23:00:00+0100,2023-10-16T11:00:00+0200,1993,2023-Q3
6328,International intra-EU air passenger transport...,AVIA_PAINAC,dataset,2023-11-08T23:00:00+0100,2023-10-16T11:00:00+0200,1993,2023-Q3
6337,National air passenger transport by main airpo...,AVIA_PANA,dataset,2023-11-08T23:00:00+0100,2023-10-16T11:00:00+0200,1993,2023-Q3
6343,Air passenger transport by main airports in ea...,AVIA_PAOA,dataset,2023-11-08T23:00:00+0100,2023-10-16T11:00:00+0200,1993,2023-Q3

In [14]:
data = eurostat.get_data_df('AVIA_PAOA',True)

In [15]:
data

,freq,unit,tra_meas,rep_airp,schedule,tra_cov\TIME_PERIOD,1993_value,1993_flag,1993-01_value,1993-01_flag,...,2023-08_value,2023-08_flag,2023-09_value,2023-09_flag,2023-Q1_value,2023-Q1_flag,2023-Q2_value,2023-Q2_flag,2023-Q3_value,2023-Q3_flag
0,A,FLIGHT,CAF_PAS,AT_LOWG,N_SCHED,INTL,1956.0,,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
1,A,FLIGHT,CAF_PAS,AT_LOWG,N_SCHED,INTL_IEU27_2020,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
2,A,FLIGHT,CAF_PAS,AT_LOWG,N_SCHED,INTL_IEU28,1525.0,,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
3,A,FLIGHT,CAF_PAS,AT_LOWG,N_SCHED,INTL_XEU27_2020,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
4,A,FLIGHT,CAF_PAS,AT_LOWG,N_SCHED,INTL_XEU28,431.0,,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277119,Q,PAS,PAS_CRD_DEP,UK_EGTK,TOT,INTL,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
277120,Q,PAS,PAS_CRD_DEP,UK_EGTK,TOT,INTL_IEU28,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
277121,Q,PAS,PAS_CRD_DEP,UK_EGTK,TOT,INTL_XEU28,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
277122,Q,PAS,PAS_CRD_DEP,UK_EGTK,TOT,NAT,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
277123,Q,PAS,PAS_CRD_DEP,UK_EGTK,TOT,TOTAL,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277124 entries, 0 to 277123
Columns: 1050 entries, freq to 2023-Q3_flag
dtypes: float64(522), object(528)
memory usage: 2.2+ GB

In [18]:
data.describe()

,1993_value,1993-01_value,1993-02_value,1993-03_value,1993-04_value,1993-05_value,1993-06_value,1993-07_value,1993-08_value,1993-09_value,...,2023-03_value,2023-04_value,2023-05_value,2023-06_value,2023-07_value,2023-08_value,2023-09_value,2023-Q1_value,2023-Q2_value,2023-Q3_value
count,1.041600e+04,414.000000,360.000000,4.050000e+02,4.160000e+02,4.500000e+02,4.200000e+02,4.230000e+02,4.230000e+02,4.140000e+02,...,3.673900e+04,3.316800e+04,3.267900e+04,2.934000e+04,2.366200e+04,1.604700e+04,2.392000e+03,3.781300e+04,3.062800e+04,2.599000e+03
mean,4.988050e+05,57172.927536,59762.311111,6.155650e+04,6.502200e+04,6.042412e+04,6.457617e+04,7.335383e+04,7.194069e+04,7.184895e+04,...,6.343693e+04,7.898326e+04,8.692310e+04,9.549194e+04,1.060896e+05,8.843069e+04,4.129185e+04,1.656831e+05,2.560879e+05,1.222716e+05
std,1.982353e+06,151165.332205,146545.723500,1.621256e+05,1.778678e+05,1.773375e+05,1.819462e+05,2.059848e+05,2.036272e+05,2.010117e+05,...,2.569023e+05,3.013648e+05,3.279389e+05,3.490755e+05,3.925380e+05,3.501853e+05,1.441013e+05,6.837693e+05,9.731051e+05,4.486398e+05
min,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.710000e+02,139.750000,258.750000,1.760000e+02,1.560000e+02,9.700000e+01,1.580000e+02,1.620000e+02,1.840000e+02,1.880000e+02,...,5.200000e+01,8.000000e+01,9.700000e+01,1.230000e+02,1.370000e+02,1.000000e+02,2.075000e+01,1.270000e+02,3.010000e+02,3.900000e+01
50%,1.258550e+04,910.500000,1735.000000,1.411000e+03,1.306000e+03,1.236000e+03,1.446000e+03,1.842000e+03,1.802000e+03,1.549000e+03,...,9.740000e+02,1.427000e+03,1.717000e+03,2.248000e+03,2.477000e+03,1.878000e+03,4.680000e+02,2.233000e+03,5.194000e+03,7.360000e+02
75%,1.607790e+05,14256.000000,36106.000000,2.134200e+04,1.689075e+04,1.213400e+04,1.446750e+04,1.477800e+04,1.329150e+04,1.608700e+04,...,1.408350e+04,2.005950e+04,2.311600e+04,2.983850e+04,3.575500e+04,2.619000e+04,4.248750e+03,3.549700e+04,6.953225e+04,9.379000e+03
max,4.020200e+07,953884.000000,872872.000000,1.017721e+06,1.162747e+06,1.226346e+06,1.207184e+06,1.388570e+06,1.368870e+06,1.333715e+06,...,5.113301e+06,5.499793e+06,5.922976e+06,6.065044e+06,6.572360e+06,6.527630e+06,1.330841e+06,1.431315e+07,1.748781e+07,4.158017e+06